@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Roboto+Slab:300,700,100,400);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

@font-face {
font-family: 'Baron Neue Black';
font-style: normal;
font-weight: normal;
src: url('./font/Baron Neue Black.woff') format('woff');
}


@font-face {
font-family: 'Baron Neue';
font-style: normal;
font-weight: normal;
src: url('./font/Baron Neue.woff') format('woff');
}


@font-face {
font-family: 'Baron Neue Black Italic';
font-style: normal;
font-weight: normal;
src: url('./font/Baron Neue Black Italic.woff') format('woff');
}


@font-face {
font-family: 'Baron Neue Bold Italic';
font-style: normal;
font-weight: normal;
src: url('./font/Baron Neue Bold Italic.woff') format('woff');
}


@font-face {
font-family: 'Baron Neue Bold';
font-style: normal;
font-weight: normal;
src: url('./font/baron_neue_bold.woff') format('woff');
}