nav {
    // padding: 0 0 175px;
    text-align: left;
    padding-top: 10px;
    .nav-menu {
        text-align: center;
        li { 
            display: inline; 
            cursor: pointer;
            padding: 0 5px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        a {
            opacity: 0.4;
            font-size: em(18);
            font-weight: 600;
            font-family: $baron;
            &:hover{
                opacity: 1;
                // color: tomato;
            }
            &.active {
                opacity: 1;
            }  
        }
    }
}