.treehouse {
  width: 285px;
  margin: 0 auto 50px;
  padding-top: 50px;
  ul li {
    margin-bottom: -13px;
    &:nth-child(5n+1) {
      margin-left: em(25);
    }
    &:nth-child(10n+1) {
      margin-left: 0;
    }
    &:last-child {
      margin-bottom: 30px;
    }
  }
}

$color-box: (
  1:  #FFE629,
  2:  #18A6D1,
  3:  #CCC205,
  4:  #54D3D3,
  5:  #9776C1,
  6:  #ED4545,
  7:  #FF9100,
  8:  #65B730,
  9:  #FF6136,
  10: #AD7745,
  11: #FF71A0
);

@for $i from 0 through 11 {
  .title-letter-#{$i} {
    animation: title_animation_#{$i} 5s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @include keyframes(title_animation_#{$i}){
    0% {color: map-get($color-box, $i);}
    @for $x from 1 through 11{
      @if (100/11)*$x < 92 {
        #{(100/11)*$x}% { color: map-get($color-box, random(11)-1); }
      } @else {
        100% {color: map-get($color-box, random(11)-1);}
      }
    }
  }
}

@for $i from 1 through 100 {
  .box-#{$i} {
    animation: color_change_#{$i} 5s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 10px;
    width: 10px;
    float: left;
  }
  @include keyframes(color_change_#{$i}) {
    0% {background-color: map-get($color-box, $i);}
    @for $x from 1 through 11{
      @if (100/11)*$x < 92 {
        #{(100/11)*$x}% { background-color: map-get($color-box, random(11)-1); }
      } @else {
        100% {background-color: map-get($color-box, random(11)-1);}
      }
    }
  }
}
.timeline li timeline-badge {
    /* box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); */
    box-shadow: none;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: -25px;
    background-color: transparent;
    /* z-index: 100; */
    border: null;
}

.timeline li timeline-panel {
    background-color: transparent;
    float: left;
    border: none;
    border-right: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 12px;
    position: relative;
    box-shadow: none;
    &:after {
      position: absolute;
      top: 36px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #FDF6E3;
      border-right: 0 solid #FDF6E3;
      border-bottom: 14px solid transparent;
      content: " ";
    }
    @media only screen and (max-width: 767px){
      border-right: none;
      border-left: 1px solid #d4d4d4;
    }
}
.container {
  &.timeline-wrap {
    position: relative;
    top: 300px;
    margin-bottom: 129px;
  }
}
.timeline {
  li.timeline-inverted timeline-panel {
    border-right: none;
    border-left: 1px solid #d4d4d4;
    // border-radius: 2px;
    // padding: 12px;
    // position: relative;
    // box-shadow: none;
  }
}

section.container.treehouse-mast {
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
    z-index: 999;
    // padding-top: 100px;
    text-align: center;
    // @include linear-gradient(to top,transparent 0%, #FDF6E3 20%);
    background: #FDF6E3;
    @include transition(all .2s linear);
    .banner {
      padding-top: 5px;
      h2 { 
        float: left; 
        padding-top: 25px;
      }
      
      img { 
        float: right;
        border-radius: 50%;
      }
      &:after {
        content: '';
        height: 0;
        display: block;
        clear: both;
      }
    }
}
$color-wrap: 70px;
.loading {
  box-sizing: border-box;
  .color-wrap {
    max-width: $color-wrap;
    margin: 0 auto;
    border-radius: 50%;
    div {
      &:last-child {
        margin-bottom: 25px;
        &:after {
          content: '';
          display: block;
          height: 0;
          clear: both;
        }
      }
    }
  }
  h2 {
    display: block;
    clear: both;
    text-align: center;
    margin-top: 25px;

  }
}


.color-wrap {
    max-width: $color-wrap;
    margin: 0 auto;
    border-radius: 50%;
    div {
      &:last-child {
        margin-bottom: 25px;
        &:after {
          content: '';
          display: block;
          height: 0;
          clear: both;
        }
      }
    }
  }

.icon {
  @include span-columns(2);
  img {
    height: em(50);
    width: em(50);
  }
}

.icon:hover{
  animation: animationFrames-icon linear .7s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames-icon linear .7s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames-icon linear .7s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames-icon linear .7s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames-icon linear .7s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames-icon{
  0% {
    transform:  scale(1.0);
  }
  // 20% {
  //   transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
  // }
  // 51% {
  //   transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
  // }
  // 78% {
  //   transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
  // }
  100% {
    transform:  scale(1.5);
  }
}

@-moz-keyframes animationFrames-icon{
  0% {
    -moz-transform:  scale(1.0);
  }
  // 20% {
  //   -moz-transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
  // }
  // 51% {
  //   -moz-transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
  // }
  // 78% {
  //   -moz-transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
  // }
  100% {
    -moz-transform:  scale(1.5);
  }
}

@-webkit-keyframes animationFrames-icon {
  0% {
    -webkit-transform:  scale(1.0);
  }
  // 20% {
  //   -webkit-transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
  // }
  // 51% {
  //   -webkit-transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
  // }
  // 78% {
  //   -webkit-transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
  // }
  100% {
    -webkit-transform:  scale(1.5);
  }
}

@-o-keyframes animationFrames-icon {
  0% {
    -o-transform:  scale(1.0);
  }
  // 20% {
  //   -o-transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
  // }
  // 51% {
  //   -o-transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
  // }
  // 78% {
  //   -o-transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
  // }
  100% {
    -o-transform:  scale(1.5);
  }
}

@-ms-keyframes animationFrames-icon {
  0% {
    -ms-transform:  scale(1.0);
  }
  // 20% {
  //   -ms-transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
  // }
  // 51% {
  //   -ms-transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
  // }
  // 78% {
  //   -ms-transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
  // }
  100% {
    -ms-transform:  scale(1.5);
  }
}