@charset "utf-8";

@import
        "normalize",
        "font",
        "bourbon",
        "base/base",
        "neat",
        // "onepage-scroll",
        "font-awesome"
;
 @import "angular-timeline"; 
 @import      
        "base",
        "header",
        "nav_menu",
        "about",
        "resume",
        "projects",
        "contact",
        "blog",
        "posts",
        "post",
        "treehouse",
        "footer",
        "syntax-highlighting",
        "in_prog"
;

.snowflake {
        height: 100px;
        width: 100px;
        margin: 10vh auto;
        display: block;
        &:hover {
                @include animation--reverse_spin(2.6);
        }
}
