#about {
    header {
        padding: 0.6rem 0;
        h2 {
            padding: 0.6rem 0;
        }
    }

    a {
        text-decoration: underline;
    }

    .about-content {
        .image{
            display: flex;

            span {
                border-radius: 10%;
                width: 200px;
                height: 200px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin: auto;
            }
        }
    }
}
