#contact {

    ul.contact {
        padding: .67rem 0;
    }
    .accent {
        text-align: center;
        padding: 1.6rem;
    }
    .contact-form {
        padding: 0 0 1.6rem;
        max-width: 420px;
        margin: 0 auto;

        input.phone {
            display: none;
            visibility: hidden;
        }
    }

}

#contactFormComponent {

    .input, .textarea {
        background-color: transparent;
        color: #363636;
        box-shadow: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid #363636;
        border-radius: 0;
        transition: background-color 0.1s linear;
    }

    .input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
        border: none;
        box-shadow: none;
        background-color: $primary;
        border-bottom: 2px solid lighten(#363636, 20%);
    }
    .input:hover, textarea:hover {
        border-bottom: 2px solid lighten(#363636, 20%);
    }

    .has-error {
        .input, textarea {
            border-color: red;
        }
    }
    button {
        width: 100%;
        font-family: $display;
        background-color: transparent;
        border: none;
        transition: background-color 0.1s linear, color 0.1s linear;
        color: #363636;
        border-radius: 0;
        &:hover {
            background-color: tomato;
            color: white;
        }
    }

    .help {
        padding: 0.6rem 0;
        display: flex;
        justify-content: center;
        font-weight: 600;
        .icon {
            padding-right: 1.3rem;
        }
    }
    .valid {
        padding: 1rem 0;
        img {
            border-radius: 50%;
            border: 5px solid $primary;
        }
        h3, h4 {
            color: tomato;
        }
    }
}

.is-tomato-outline {
    background-color: transparent;
    color: tomato;
    border: 2px solid tomato;
}
