#contact {

    ul.contact {
        padding: 0.5rem 0;
    }
    .accent {
        padding: 0.5rem 0;
        text-align: center;
    }
    .contact-form {
        padding: 0.5rem 0;
    }
}

.input, .textarea {
    background-color: transparent;
    color: #363636;
    box-shadow: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #363636;
    border-radius: 0;
    transition: background-color 0.1s linear;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    border: none;
    box-shadow: none;
    background-color: $primary;
    border-bottom: 2px solid lighten(#363636, 20%);
}
