#projects{
    header{
        margin-bottom: 3rem;
    }
    .project-descriptions .projects-list .projects-list-item a{
        .moon{
            background-color: #38495a;
            border: 5px solid #1B2735;
            color: #fff;
            fill: #fff;
            position: relative;
        }
        .train {
            background-color: cornflowerblue;
            border: 5px solid white;
            color: #fff;
            position: relative;
        }
        .beer-icon {
            background-color: #FAC937;
            border: 5px solid #d87800;
            color: #d87800;
            padding: 5px;
            font-size: 2.5em;
        }
        .train, .beer-icon, .moon {
            margin: 0 auto;
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
        svg {
            font-size: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    header {
        h3 {
            padding: 0.6rem 0;
        }
    }

    .tech-list {
        padding: 1rem 0;
    }

    .project-title {
        padding: 0.6rem 0;

    }

    .projects-list {
        margin: 2rem auto;
    }
}
