{% assign my = site.data.me['Ken'] %} {% assign image = my.image %} {% assign about = my.about %}

<section class="section" id="about">
    <header class="about-content">
        <h2>{{ about.tag }}</h2>
        <p>{{ about.content }}</p>
        {% assign current_role = about.current_role %}
        <p class="about-current-role">
            Since {{ current_role.since }}, I have been a {{ current_role.position }} at <a href="{{ current_role.link }}">{{ current_role.location }}</a>.
        </p>
    </header>


    <p class="accent">{{ about.accent }}</p>
    <ul class="columns is-multiline is-mobile is-centered skills-list">
        {% for skill in about.skills %}
            <li class="column is-narrow skills-list-item">
                <div class="skill-image-wrap">
                    <!-- <h3>{{ skill.skill }}</h3> -->
                    <img alt="{{ skill.skill }}" class="image is-16x16" src="{{ skill.image }}" />
                </div>
            </li>
        {% endfor %}
    </ul>

</section>

