{% assign my = site.data.me['Ken'] %} {% assign contact = my.contact %}

<section class="section" id="contact">
    <div class="columns contact-info">
        <ul class="column is-4 contact">
            <li class="contact-info-item">
                <a href="mailto:{{ contact.email.address }}">
                    {{ contact.email.icon }}
                    {{ contact.email.address }}
                </a>
            </li>
            <li class="contact-info-item">

                <a href="tel: {{contact.telephone.number}}">
                    {{ contact.telephone.icon }}
                    {{contact.telephone.number}}
                </a>
            </li>
            <li class="contact-info-item">
                <a href="{{ contact.location.link}}">
                    {{ contact.location.icon }}
                    {{ contact.location.place }}
                </a>
            </li>

        </ul>
        <div class="column contact-form-content">
            <p class="accent">Let's get that coffee.</p>
            <div id="contactFormComponent"></div>
        </div>
    </div>
</section>

