{% assign my = site.data.me['Ken'] %} {% assign contact = my.contact %}

<section class="section" id="contact">
    <div class="contact-info">
        <h2 class="title has-text-centered">COntact</h2>
        <ul class="level contact">
            <li class="level-item contact-info-item">
                <a href="mailto:{{ contact.email.address }}">
                    {{ contact.email.icon }}
                    {{ contact.email.address }}
                </a>
            </li>
            <li class="level-item contact-info-item">

                <a href="tel: {{contact.telephone.number}}">
                    {{ contact.telephone.icon }}
                    {{contact.telephone.number}}
                </a>
            </li>
            <li class="level-item contact-info-item">
                <a href="{{ contact.location.link}}">
                    {{ contact.location.icon }}
                    {{ contact.location.place }}
                </a>
            </li>

        </ul>
    </div>
    <p class="accent">Let's get that coffee.</p>
    <div id="contactFormComponent"></div>
</section>

