---
layout: default
---

<!-- <div class="home">

  <h1>Posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->

  <section>
    <img src="http://www.gravatar.com/avatar/83fb4a35e52381397d9c07d9e25b4c05?s=200" />
  </section>

<!-- Main body with the text -->
<<!-- div class="container">
  <div class="row">
    <article class="col-md-8 col-md-offset-2">
      <ul data-scroll-reveal class = "list-inline landing-list">
        <li class="rocket"><i class="fa fa-rocket"></i></li>
        <p data-scroll-reveal><strong>To what comes next!</strong> The one question everyone every philosophy major has to answer after graduation -  What comes next?  Perhaps not the most creative or unique answer, I decided on law school - fairly ordinary, and on its face, not a bad decision.  Its a decision that I would make again - law school was an amazing experience.  However, after law school, what comes next?  
        </p>
        <li class="gavel"><i class="fa fa-gavel"></i></li>
        <p data-scroll-reveal><strong>Well I did write that paper.</strong> Right after law school was the 14th Bled E-Commerce Conference, held -appropriately enough - in Bled, Slovenia.  A paper I wrote for a class was accepted into the graduate student symposium.  It had a fancy title, "The Language of Mistrust:  A Review of the Laws and Industry Self Regulation of Third Party Network Advertisers."  It was about banner ads, click trails and personally identifiable information - but for some trademark work, this was the crowning acheivement of my tech law career.  Soon, the dot coms went dot bust and those trademark applications dried up along with  my job.  So, I fell into litigation and trial work - not really where I wanted to be, but I thought I could make it work.
        </p>
        <li class="code"><i class="fa fa-code"></i></li> 
        <p data-scroll-reveal><strong>Some say the language of the future is Mandarin, I say its code.</strong> Perhaps if I spent more time on traditional advertising and not so much tweaking the code of my website and researching SEO techniques to get my website to top of Google.  Or maybe, if I didn't focus so much on clients who didn't pay?  Who knows - but I do know what I was doing was dealing with failures in human interaction, more often than not because of language.  Anyhow, long story short - I am not doing what I envisioned with my law practice, its a job not a career.  I told this to someone and they told me I should learn a language, not a bad idea.
        </p>
        <li class="beer"><i class="fa fa-beer"></i></li> 
        <p data-scroll-reveal><strong>I'm not a beer snob.</strong> If the above doesn't make any sense, have a couple beers. I had a Chimay Triple recently - very good; if given the choice, I would probably grab a Fat Tire - its still a belgian - but I won't say no to a cold Miller Lite.  Everything has a time and place.  I guess this is why autumn seasonals are not made year round.
        </p>
      </ul>
    </article>
  </div> -->
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <ul>
        {% for post in site.posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>