html {
    background-color: initial;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

body {
    background: lightgray;
}

a{
    color: #363636;
    transition: color 0.1s linear;
    &:hover {
        color: tomato;
    }
}
p {
    padding-bottom: 0.6rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: $display;
    font-weight: 700;
}
// Headers
h3 {
    font-size: 1rem;
    font-weight: 600;
}
h4 {
    font-size: 1rem;
    font-weight: 600;
}
.navbar-burger {
    height: auto;
    color: white;
    font-weight: 600;
    transition: color 0.1s linear;
    &:hover {
        color: darken(white, 35%)
    }
}
.accent {
    color: tomato;
    font-family: $pacifico;
    padding: 0.1rem 0;
}

.button.is-text:hover, .button.is-text.is-hovered, .button.is-text:focus, .button.is-text.is-focused {
    background-color: #fdf6e3;
    color: #363636;
}

.button.is-text:active, .button.is-text.is-active {
    background-color: $primary;
    color: #363636;
}

.button.is-circle {
    border-radius: 50%;
}
button.is-tomato, .button.is-tomato {
    background-color: tomato;
    color:white;
    font-weight: 600;
}

p.is-tomato {
    color: tomato;
}

.has-text-tomato {
    color: tomato;
}
.page-content {
    // padding: 0.6rem 0.67rem;
    // max-width: 768px;
    // margin: 0 auto;
    & >article {
        padding: 0.6rem 0.67rem;
    }
}

@import 'code';
