// Update colors
$tan: #eee8d5;
// Update the sans-serif font family
$family-sans-serif: $jose, "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $tan;
