<div class="line-behind-text">
  <div id="about-me-menu">
    <ul class="about-me">
      <li>
        <a href="#" id="rocket"><i class="fa fa-rocket rocket"></i></a>
      </li>
      <li>
        <a href="#" id="gavel"><i class="fa fa-gavel gavel"></i></a>
      </li> 
      <li>
        <a href="#" id="code"><i class="fa fa-code code"></i></a>
      </li> 
      <li>
        <a href="#" id="beer"><i class="fa fa-beer beer"></i></a>
      </li> 
    </ul>
  </div>

</div>
<div class = "container">
  <div class = "contents">
    <div id="rocket-content">
      <h2>To what comes next!</h2>
      <p>The one question every philosophy major faces at graduation -  What's next?  How people interact and communicate is what fascinated me, especially in light of this emerging technology, this new thing 'the Internet.'  Law - it seemed to fit, a springboard of sorts, enables communication and interaction, it is the do and do not of human experience. So, law school came next. However, after law school, what's next?</p>
    </div>

    <div id = "gavel-content">
      <h2>Original intent.</h2>
      <p> Right after law school was the 14th Bled E-Commerce Conference, held -appropriately enough - in Bled, Slovenia.  A paper I wrote for a class was accepted into the graduate student symposium.  It had a fancy title, "The Language of Mistrust:  A Review of the Laws and Industry Self Regulation of Third Party Network Advertisers."  It was about banner ads, click trails and personally identifiable information - but forsm some trademark work, this was the crowning acheivement of my techxs law career.  Soon, the dot coms went dot bust and those trademark applications dried up along with  my job.  So, I fell into litigation and trial work - not really where I wanted to be, but I thought I could make it work.</p>
    </div>

    <div id = "code-content">
      <h2>The language of the future.</h2>
      <p> Perhaps if I spent more time on traditional advertising and not so much tweaking the code of my website and researching SEO techniques to get my website to top of Google.  Or maybe, if I didn't focus so much on clients who didn't pay?  Who knows - but I do know what I was doing was dealing with failures in human interaction, more often than not because of language.  Anyhow, long story short - I am not doing what I envisioned with my law practice, its a job not a career.  I told this to someone and they told me I should learn a language, not a bad idea.
    </div>

    <div id = "beer-content">
      <h2>I'm not a beer snob.</h2> 
      <p>If the above doesn't make any sense, have a couple beers. I had a Chimay Triple recently - very good; if given the choice, I would probably grab a Fat Tire - its still a belgian - but I won't say no to a cold Miller Lite.  Everything has a time and place.  I guess this is why autumn seasonals are not made year round.</p>
    </div>
  </div>
</div>
