{% assign my = site.data.me['Ken'] %}
{% assign image = my.image %}
{% assign about = my.about%}

<article id="about">
  <section class="about">
	<div class = "about-icon">
		<h3>AbOut</h3>
		<img itemprop="image" alt="Ken Crocken" src="{{ image.link }}{% if image.size %}?s={{ image.large }}{% endif %}" />
	</div>
	<div class="about-text">

		<h4>{{ about.tag }}</h4>
		<p class="accent">{{ about.accent }}</p>
		<p itemprop="description">{{ about.content }}</p>
		<ul class="skills-list" itemscope itemtype="http://schema.org/ItemList">
			{% for skill in about.skills %}
				<li class="skills-list-item" itemprop="itemListElement">{{ skill }}
					<span class="background-animation"></span>
				</li>
			{% endfor %}
		</ul>

	</div>
  </section>
</article>