{% assign my = site.data.me['Ken'] %}

<section class="sub-header blog">
    <div class="container">
<!--         <div class="my-image">
            {% for image in my.image %}
                <img src="{{ image.link }}{% if image.size %}?s={{ image.small }}{% endif %}" />
            {% endfor %}
        </div> -->
        <div class="sub-mast">
            <h1><a href="/">{{ my.nickname | replace: 'o','O' }}</a></h1>
        </div>
        <div class="mobile-menu"><a ng-click="toggleMenu()"><i class="fa fa-bars"></i></a></div>
        <div ng-class="{show: mobileMenu}">
            {% include nav.html %}
        </div>
    </div>
</section>