<header>
  <div class="background-image">
    <div class="background-overlay">
    </div>
  </div>
      <h1>Ken Crocken</h1>
      <h2>Recovering Attorney | Aspiring Digital Humanist</h2>
      <ul class="contact">
        <li><i class="fa fa-globe"></i> <a href="http://goo.gl/maps/hM6yB">Laurel, Maryland</a></li>
        <li><i class="fa fa-phone"></i> <a href="tel:+1 (443) 802-7145">(443) 802-7145</a></li>
        <li><i class="fa fa-envelope"></i> <a href="mailto:kcrocken@gmail.com">kcrocken@gmail.com</a></li>
      </ul>
      <ul class="social">
        <li class="linkedin"><a href="http://www.linkedin.com/pub/kenneth-crocken/17/914/aaa"><i class="fa fa-linkedin-square"></i></a></li>
        <li class="googleplus"><a href="http://plus.google.com/104867203056603798573"><i class="fa fa-google-plus-square"></a></i>
        </li>
        <li class="twitter"><a href="http://twitter.com/kencrocken"><i class="fa fa-twitter-square"></i></a></li>
      </ul>

</header>