<nav id="nav-menu">
    <ul class="nav-menu" du-spy-context>
        <li class="tab-control">
            <a href="/#about" du-smooth-scroll="about" du-scrollspy offset="25">About</a>
        </li>
        <li class="tab-control">
            <a href="/#resume" du-smooth-scroll="resume" du-scrollspy offset="35">Résumé</a>
        </li>
        <li class="tab-control">
            <a href="/#projects" du-smooth-scroll="projects" du-scrollspy offset="35">Projects</a>
        </li>
        <li class="tab-control">
            <a href="/#contact" du-smooth-scroll="contact" du-scrollspy offset="55">Contact</a>
        </li> 
    </ul>
</nav> 
