<section class = "contents">
    <ul class="post-list" id="posts">
    {% for post in site.posts %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </h2>
            <p>
                {% if post.description %}
                    {{ post.description | strip_html }} 
                {% else %} 
                    {{ post.content | strip_html | truncatewords:30 }}
                {% endif %}
            </p>
        </li>
    {% endfor %}
    </ul>
</section>