{% assign my = site.data.me['Ken'] %}

<article data-sr class = "contents" id="about">
    
    <section data-sr class="about">
        <div class = "about-icon">
            <h3>About Me</h3>
            <!-- <i class="fa fa-coffee"></i> -->
            {% for image in my.image %}
                <img src="{{ image.link }}{% if image.size %}?s={{ image.large }}{% endif %}" />
            {% endfor %}
        </div>
        <div class="about-text">
            <h4>Lawyer by training - Web Developer by profession</h4>
            <p>But we can talk more about that over coffee.</p>
            <p>I am a full-stack web developer with a passion for creating websites and apps from the ground up. With additional interests in design, user experience and accesibility.</p>
            <ul class="skills-list">
                <li class="skills-list-item">HTML/CSS/JavaScript
                    <span class="background-animation"></span>
                </li>
                <li class="skills-list-item">WordPress & DjangoCMS
                    <span class="background-animation"></span>
                </li>
                <li class="skills-list-item">Ruby/Python
                    <span class="background-animation"></span>
                </li>
        </div>
    </section>
<!--     <section data-sr class="about">
        <div class="about-text">
            <h4>Your project to the next level</h4>
            <p>I develop well-designed, responsive, multi-device websites that will provide your next project with a professional look, interact beautifully and adhere to modern standards.</p>
        </div>
        <div class = "about-icon">
            <i class="fa fa-rocket"></i>
        </div>
    </section> -->
</article>

<!-- <section class = "contents">
    <ul class="post-list" id="posts">
    {% for post in site.posts %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </h2>
            <p>
                {% if post.description %}
                    {{ post.description | strip_html }} 
                {% else %} 
                    {{ post.content | strip_html | truncatewords:30 }}
                {% endif %}
            </p>
        </li>
    {% endfor %}
    </ul>
</section> -->