<div class="line-behind-text">
  <h3>projects</h3>
</div>
<div class = "container">
  <ul class = "projects">
      <li>
        <h4><a href = "https://github.com/kencrocken/emailysis">Emailysis</a></h4>
      </li>
      <li>
        <h4><a href = "https://github.com/kencrocken/BEWD-DC-1-HW/tree/master/ken_crocken/midterm">MetroCommand</a></h4>
      </li>
      <li>
        <h4><a href = "http://www.mydevsite.biz">Themes</a></h4>
      </li>
      <li>
        <h4><a href = "http://murmuring-falls-8083.herokuapp.com/">Beer Search</a></h4>
      </li>
  </ul>
</div>