{% assign my = site.data.me['Ken'] %}

<article id="resume">
    <section class = "resume-headings">
        <h3>Résumé</h3>
    </section>
    <section class="resume-description">
        <ul class="resume-description-item">
            <li class="item">
                <ul class="skills-list">
                    <li><h4>Freelancer</h4>
                        <h6>July 2015 til Present</h6></li>
                    <li class="skills-list-item">Web Development<span class="background-animation"></span></li>
                </ul>
            </li>
            <li class="item">
                <ul class="skills-list">
                    <li><h4>BTS Software Solutions</h4>
                        <h6>Nov 2014 til July 2015</h6></li>
                    <li class="skills-list-item">Front End Developer<span class="background-animation"></span></li>
                </ul>
            </li>
        </ul>
    </section>
</article>