{% assign my = site.data.me['Ken'] %}

<article id="resume">
    <section class = "resume-headings">
        <h3>Résumé</h3>
    </section>
    <section class="resume-description">
        <ul class="resume-description-item">
            {% for job in my.resume %}
            <li class="item">
                <ul class="skills-list">
                    <li><h4>{{ job.name }}</h4>
                        <h6>{{ job.date }}</h6></li>
                    <li class="skills-list-item">{{ job.description }}<span class="background-animation"></span></li>
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
</article>