{% assign my = site.data.me['Ken'] %}

<article id="resume" itemscope itemtype="http://schema.org/ItemList">
    <section class = "resume-headings">
        <h3 itemprop="name">Résumé</h3>
    </section>
    <section class="resume-description">
        <ul class="resume-description-item">
            {% for job in my.resume %}
            <li class="item" itemprop="itemListElement">
                <ul class="skills-list" itemscope itemtype="http://schema.org/Organization">
                    <li><h4 itemprop="name">{{ job.name }}</h4>
                        <h6>{{ job.date }}</h6></li>
                    <li class="skills-list-item" itemprop="department">{{ job.description }}<span class="background-animation"></span>
                    </li>
                </ul>
                <meta itemprop="position" content="{{ forloop.index }}" />
            </li>

            {% endfor %}
        </ul>
    </section>
</article>