<script src="{{ "/scripts/vendor.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/app.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/services.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/controllers/pageCtrl.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/controllers/contactCtrl.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/scripts/controllers/treehouseCtrl.js" | prepend: site.baseurl }}"></script>
<script>
    // $(".wrapper").onepage_scroll({
    //    sectionContainer: "article",    
    //    easing: "linear",                
    //    animationTime: 600,             
    //    pagination: true,                
    //    updateURL: true,                
    //    beforeMove: function(index) {},  
    //    afterMove: function(index) {},   
    //    loop: false,                     
    //    keyboard: true,                  
    //    responsiveFallback: false,        
    //    direction: "vertical"            
    // });

    // $(".scroll-down-icon").on('click', function(){
    //     console.log(this + "I was clicked, should scroll now please.")
    //     $(".wrapper").moveDown();
    // });
</script>