{% raw %}
<section class="container treehouse-mast">
    <div class="banner">
        <h2><a href="/">{{ treehouse.profile.name }}</a></h2>
        <img ng-src="http://www.gravatar.com/avatar/{{treehouse.profile.gravatar}}" />
    </div>
    <h1> 
        <span ng-repeat="letter in treehouse.myTreehouse track by $index" class="title-letter-{{ $index }}">
            {{ letter }}
        </span>
        <!-- My Treehouse -->
    </h1>
    <div ng-if="treehouse.loaded">
        <p >A member since {{ treehouse.membershipDates.joinDate | date:longDate }}, that's {{ treehouse.membershipDates.memberLength | number:1 }} days - how time flies.</p>
        <h2>Total Points: {{ treehouse.points[0].points}}</h2>
        <p ng-init="totalClasses = treehouse.points.length - 1">I have taken {{ treehouse.badges.length }} courses in {{ totalClasses }} areas including {{ treehouse.points[treehouse.random()].category}}</p>
    </div>
</section>
<section class="container timeline-wrap">
    <timeline>
        <timeline-event ng-repeat="badge in treehouse.badges">
            <timeline-badge class="{{badge.name}}">
                <img  data-sr src="{{badge.icon}}" alt="{{badge.name}}" />
            </timeline-badge>
            <timeline-panel class="{{event.badgeClass}}" >
                <timeline-heading>
                    <h4 data-sr>{{badge.name}}</h4>
                </timeline-heading>
                <p>{{badge.date | date }}</p>
            </timeline-panel>
        </timeline-event>
    </timeline>

    <div class="treehouse" id="treehouse-badges" ng-if="!treehouse.loaded" style="height:100vh;">
        <div class="loading">
            <div class="color-wrap">
                <div ng-repeat="color in [] | range:50" class="box-{{ color }}"></div>
            </div>
            <h2>Loading</h2>
        </div>
    </div>
</section>
{% endraw %} 