#about {
    padding: 100px 0;
    h3 {
        font-weight: 300;
        letter-spacing: -1px;
        color: #ff9933;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }
    .about {
        max-width: 650px;
        padding: 0 7px;
        overflow: hidden;
        @include outer-container();
        .about-icon {
            @include span-columns(12);
            text-align: center;
            color: burlywood;
            font-size: 175px;
            line-height: 125px;
            @include media (min-width $break-small){
                @include span-columns(4);
            }

        }
        .about-text{
            @include span-columns(12);
            h4 {
                font-weight: 600;
                font-size: em(19);
                margin: 15px 0 0 0;
                color: #657b83;
            }
            p { margin-top: 15px; line-height: 1.2em; }
            @include media (min-width $break-small){
                @include span-columns(8);
            }
        }
    }
}