.post > .highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.post > .highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }

$background-color: #fdf6e3;
$primary-text-color: #657b83;

$break-large: 1100px;
$break-small: 650px;

$primary-font: 'freight-sans-pro';
$heading-font: 'freight-micro-pro';

$modular-scale-ratio: $golden;
$modular-scale-base: 1em;

@mixin transition_all_ease($seconds){
  transition: all $seconds ease;
  -webkit-transition: all $seconds ease;
  -moz-transition: all $seconds ease;
  -o-transition: all $seconds ease;  
}
 
/*--Global Styles--*/
body {
  font-family: $primary-font;
  margin: 0 auto;
  background: $background-color;
  color: $primary-text-color;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: $primary-font;
  font-weight: 300;
}

h1 {
  color: $primary-text-color;
  // font-size: 61px;
  margin: 0; 
  padding-top: 5px;
}

h2 {

  margin: 0px 0 21px 0;
}
h6 {
  font-size: em(14);
  font-weight: 100;
}
a {
  @include transition_all_ease(0.3s);
  color: #dc322f;
  &:hover {
    color: darken(#dc322f, 20%);
    text-decoration: none;
  }
  &:active, &:focus {
    color: #dc322f;
  }
}
p {
  font-size: em(19);
  line-height: 1.25em;
  font-weight: 100;
  color: darken($primary-text-color, 15%);
}
ul {
  list-style: none;
  padding: 0;
}

.container {
  @include outer-container;

}

.line-behind-text {
  background-color: #eee8d5;
  border-bottom: 1px solid #93a1a1;
  position: relative;
  text-align: center;
  margin-bottom: 0.1em;

  @media screen and (max-width: $break-small) {
    padding-top: 20px;
  } 
  h3, h6, .about-me {
    text-transform: uppercase;
    position: relative;
    top: 8px;
    background: $background-color;
    display: inline-block;
    // font-size: 1em;
    padding: 0 10px;
  }
  img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 5px solid $background-color;
    position: relative;
    top: 100px;
  }
}

.thanks {
  article {
    h1, h2 { text-align: center;}
  }
  img {
    display: block;
    margin: 25px auto 0 auto;
    border-radius: 50%;
  }
}



/*--Main Body--*/
// #about-me {
//     position: relative;
// }
// .about-me {
//   font-size: 28px;
//   text-align: center;
//   li { display: inline; cursor: pointer;}
//   a {
//     opacity: 0.4;
//     font-size: em(10);
//     &:hover{
//       opacity: 1;
//       color: #dc322f;
//     }
//   }
//   .active {
//     opacity: 1;
//     font-weight:600;
//   }  
// }
.fa-rocket{
  color: rgb(38, 139, 210);
}

.fa-gavel{
  color: rgb(220, 50, 47);
}

.fa-code{
  color: rgb(133, 153, 0);
}

.fa-beer {
  color: rgb(181, 137, 0);
}
.fa-rocket, .fa-gavel, .fa-code, .fa-beer{
  @include transition_all_ease (0.5s);      
  text-align: center;
  padding: 0 1px;
}

// .post-list {
//     .post-meta {
//         color: lightslategray;
//     }
//     p {
//         font-size: em(14);
//     }
//     h2 {
//         font-size:em(21);
//         margin-bottom: 0;
//     }
// }

.contents {
  position: relative;
  $sans-serif: $primary-font;
  $serif: $heading-font;
  color: #000;
  max-width: 650px;
  min-height: 165px;
  margin: 1.55% auto 0% auto;
  h2 {
    font-size:em(21);
  }
  p {
    line-height: em(28);
    @include media(max-width $break-small){
      line-height: inherit;
    }
  }
  @include media(max-width $break-small){
    // min-height:265px;
    margin: 2% auto -7% auto;
  }
}

.rocket, .gavel, .code, .beer {
  // position: absolute;
  // top: 15px;
  // left: 0;
  // padding: 0 5px;
}
.rocket {
  h2 {
   color: rgb(38, 139, 210);
 }
} 

.gavel {
  h2 {
    color: rgb(220, 50, 47); 
  }
}
.code {
  h2 {
    color: rgb(133, 153, 0);
  }
} 

.beer {
  h2 {
    color: rgb(181, 137, 0);
  }
}

article.type-system-slab {
  $sans-serif: $primary-font;
  $serif: $heading-font;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
  text-align: left;
  padding:0 5px;
  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $heading-font;
    font-size: 2.4em;
    font-weight: 300;
    margin-bottom: .1em;
    text-align: center;
    letter-spacing: -2px;
    @include media($medium-screen) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-family: $primary-font;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: .1em;

    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }

  h3 {
   font-family: $serif;
   font-size: em(21);
   font-weight: 600;
   text-transform: uppercase;
   line-height: 1.4em;
   margin-bottom: .5em; 
  }

  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }

  p.date {
    color: lighten($base-font-color, .1);
    font-family: $serif;
    font-size: em(14);
    margin-bottom: 2em;
    text-align: center;
  }

  // p {
  //   font-family: $sans-serif;
  //   font-weight: 100;
  //   font-size: em(21);
  //   margin-bottom: 1.5em;

  //   span {
  //     font-family: $sans-serif;
  //     font-weight: 600;
  //     font-size: .8em;
  //     text-transform: uppercase;
  //   }
  // }

  a.read-more {
    display: inline-block;
    font-family: $serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      position: absolute;
      font-size: 1.8em;
      top: -2px;
      right: -12px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
  }
  blockquote p {
    font-size: em(14);
    line-height: em(24);
  }
}

/* Home styles */
/* ----------------------------------------------------------*/
 
.home {
  h1 { margin-bottom: 25px; }
  h2 {
    font-weight: 100;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: 7px;
  }
  h3 {
    font-weight: 300;
    letter-spacing: -1px;
    color: #ff9933;
    margin-top: 0;
  }
}

.posts {
  // text-align: center;
  color: #919191;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 5px;
  .post-date {
    display: inline-block;
    color: #919191;
    margin-bottom: 3px;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  .post-link {
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 300;
    display: inline-block;
  }
  .post-excerpt {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: 300;
    font-size: 1em;
    color: $primary-text-color;
  }
  @include media(max-width $break-small){
    padding:0 5px;
  }
}

.posts li { margin-bottom: 7px; }

// .posts .post-date {
//   display: inline-block;
//   color: #919191;
//   margin-bottom: 3px;
//   font-weight: 300;
//   font-size: 0.7em;
//   text-transform: uppercase;
// }


.projects {
  width: 655px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 15px;
      text-align: center;
  li {
    display: inline-block;
    padding-right: 15px;
    @include media(max-width $break-small){
      display: block;
    }
  }
  @include media(max-width $break-small){
    width: 85%;
  }
}

.post-content { 
  img {
    border:none;
    border-radius: 0;
    max-width: 100%;
    margin: 0;
  }
}

.post-header {
  margin: 10px 0 30px; 
  padding-top: 121px;
  h1 {
    text-align: center;
    font-size: 42px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: 300;
    font-family: $primary-font;
    text-shadow: 2px 2px 3px rgba(0,0,0,.9);
  }
  .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
    text-align: center;
  }
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  font-family: $primary-font;
  margin: 40px 0 20px;
  color: $primary-text-color;
}

.post-content { 
  margin: 0 0 30px; 
}

.post-content > * { margin: 20px 0; }


.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
}

.post code { padding: 1px 0; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

// The Animations
.invalid img {
    
    // transform: scale(0.33);
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
        
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        transform: scale(0.77);
    }
    to {
        opacity:1;
        transform: scale(1);
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        transform: scale(0.77);
    }
    to {
        opacity:1;
        transform: scale(1);
    }
}

.valid img {
    // transform: scale(0.33);
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
        
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        transform: scale(0.77);
    }
    to {
        opacity:1;
        transform: scale(1);
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        transform: scale(0.77);
    }
    to {
        opacity:1;
        transform: scale(1);
    }
}


.animate-show {
  opacity: 1;
  width: 100%;
}

.animate-show.ng-hide-add.ng-hide-add-active{
  @include transition_all_ease(0.3s);
}
.animate-show.ng-hide-remove.ng-hide-remove-active {
  // @include transition_all_ease(0.1s);
  // -webkit-transition-delay: 0.3s;
  // transition-delay: 0.3s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.animate-show{
    animation: animationFrames linear 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animationFrames {
   0% {
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animationFrames-p{
   0% {
    opacity:0;
  }
  51% {
    opacity:.5;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes animationFrames-p{
  0% {
    opacity:0;
  }
  51% {
    opacity:.5;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes animationFrames-p {
  0% {
    opacity:0;
  }
  51% {
    opacity:.5;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes animationFrames-p {
  0% {
    opacity:0;
  }
  51% {
    opacity:.5;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes animationFrames-p {
  0% {
    opacity:0;
  }
  51% {
    opacity:.5;
  }
  100% {
    opacity:1;
  }
}
// .treehouse {
//   width: 285px;
//   margin: 10% auto;
//   ul li {
//     margin-bottom: -13px;
//   }
//   ul li:nth-child(5n+1) {
//     margin-left: em(25);
//   }
//   ul li:nth-child(10n+1) {
//     margin-left: 0;
//   }
// }
// .icon {
//   @include span-columns(2);
//   img {
//     height: em(50);
//     width: em(50);
//   }
// }
// .icon:hover{
//   animation: animationFrames-icon linear .7s;
//   animation-iteration-count: 1;
//   transform-origin: 50% 50%;
//   animation-fill-mode:forwards; /*when the spec is finished*/
//   -webkit-animation: animationFrames-icon linear .7s;
//   -webkit-animation-iteration-count: 1;
//   -webkit-transform-origin: 50% 50%;
//   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
//   -moz-animation: animationFrames-icon linear .7s;
//   -moz-animation-iteration-count: 1;
//   -moz-transform-origin: 50% 50%;
//   -moz-animation-fill-mode:forwards; /*FF 5+*/
//   -o-animation: animationFrames-icon linear .7s;
//   -o-animation-iteration-count: 1;
//   -o-transform-origin: 50% 50%;
//   -o-animation-fill-mode:forwards; /*Not implemented yet*/
//   -ms-animation: animationFrames-icon linear .7s;
//   -ms-animation-iteration-count: 1;
//   -ms-transform-origin: 50% 50%;
//   -ms-animation-fill-mode:forwards; /*IE 10+*/
// }

// @keyframes animationFrames-icon{
//   0% {
//     transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
//   }
//   20% {
//     transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
//   }
//   51% {
//     transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
//   }
//   78% {
//     transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
//   }
//   100% {
//     transform:  rotate(360deg) scaleX(1.30) scaleY(1.30) ;
//   }
// }

// @-moz-keyframes animationFrames-icon{
//   0% {
//     -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
//   }
//   20% {
//     -moz-transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
//   }
//   51% {
//     -moz-transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
//   }
//   78% {
//     -moz-transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
//   }
//   100% {
//     -moz-transform:  rotate(360deg) scaleX(1.30) scaleY(1.30) ;
//   }
// }

// @-webkit-keyframes animationFrames-icon {
//   0% {
//     -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
//   }
//   20% {
//     -webkit-transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
//   }
//   51% {
//     -webkit-transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
//   }
//   78% {
//     -webkit-transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
//   }
//   100% {
//     -webkit-transform:  rotate(360deg) scaleX(1.30) scaleY(1.30) ;
//   }
// }

// @-o-keyframes animationFrames-icon {
//   0% {
//     -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
//   }
//   20% {
//     -o-transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
//   }
//   51% {
//     -o-transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
//   }
//   78% {
//     -o-transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
//   }
//   100% {
//     -o-transform:  rotate(360deg) scaleX(1.30) scaleY(1.30) ;
//   }
// }

// @-ms-keyframes animationFrames-icon {
//   0% {
//     -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
//   }
//   20% {
//     -ms-transform:  rotate(90deg) scaleX(1.02) scaleY(1.02) ;
//   }
//   51% {
//     -ms-transform:  rotate(180deg) scaleX(1.10) scaleY(1.10) ;
//   }
//   78% {
//     -ms-transform:  rotate(270deg) scaleX(1.20) scaleY(1.20) ;
//   }
//   100% {
//     -ms-transform:  rotate(360deg) scaleX(1.30) scaleY(1.30) ;
//   }
// }