.contact-wrap {
  position: relative;
  // min-height: 550px;
}

.contact-form {
  // height:275px;
  // position: absolute;
  // top: 50%;
  // left: 0;
  // right: 0;
  // @include transform(translateY(-75%));
  max-width: 450px;
  margin:0 auto;
  padding: 30px 5px 10px 5px;
  h3 {
      font-weight: 300;
      letter-spacing: -1px;
      color: #ff9933;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
  }
  h4 {
    text-transform: uppercase;
    font-size: 18px;
  }
  form {
    padding-top: 25px;
  } 
}
input.formname, input.formemail, textarea.formmsg, .button {
  margin: 2px 0;
  padding: 8px;
  font-size: 1.05em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #777;
  text-indent: 10px;
  background-color: transparent;
  font-family: $primary-font;
  font-weight: 300;
  color: #323430;
}
.has-error {
  input.formname, input.formemail {
    margin: 2px 0;
    padding: 8px;
    font-size: 1.05em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 1px red;
    text-indent: 10px;
    background-color: lighten(#323430, 70%);
    font-family: $primary-font;
    font-weight: 300;
    color: #000;
  }
}

textarea.formmsg {
  width: 100%;
  &:hover {
    border-color: #c4c4c4;
  }
}

input.formemail:focus, input.formname:focus, textarea.formmsg:focus{
  border: solid 1px #777;
  background-color: #eef;
  outline: none;
  // color: #fff;
  font-weight: 600;
}

.button {
  width: 100px;
  color: $primary-text-color;
  padding: 8px;
  text-indent: 0;
  @include transition_all_ease(0.5s);
  &:hover {
    background-color: #FF0000;   
    color: black; 
    font-weight: 300;
  }
  &:focus {
    // background-color: #FF0000;  
    outline: none;    
  }
}

.help-block {
  img {
    margin: 25px 0;
    border-radius: 50%;
    border: 5px solid black;
  }
  p {
    font-size: 15px;
    font-weight: 100;
    // text-align: center;
    color: red;
  }
}

.invalid {
  padding-top: 5px;
  img {
    float: left;
  }
}

.valid { text-align: center;}