@import "breakpoint.variable.scss";

.about {
  margin-top: 2rem;
  margin-bottom: 2rem;
  &-intro {
    margin-left: 2rem;
  }
  &-list {
    align-self: flex-start;
    ul {
      list-style: none;
      padding: 0;
      margin-top: 1.67rem;
      li {
        margin: 0 0 0.5rem 0;
        font-size: 1.3rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        .icon {
          margin-right: 0.8rem;
          color: var(--accent-text-color);
        }
      }
    }
    a {
      // margin-left: 1.67rem;
      color: var(--primary-text-color);
      transition: color 0.1s linear;
      &:hover {
        color: var(--accent-text-color);
      }
    }
  }
}

.profile-image {
  border-radius: 50%;
  // border: 1px solid var(--accent-text-color);
  background-position-x: center;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 96px;
  // width: 96px;
  // box-shadow: 1px 2px 2px #0a0a0a;
}

.resume {
  h2 {
    font-size: 1.25rem;
    color: var(--heading-text-color);
    margin-bottom: 0;
  }
  h3 {
    margin: 0;
  }
  hr {
    margin-top: 0.6rem;
    margin-bottom: 1.38rem;
    color: var(--heading-text-color);
  }
  ul {
    margin-bottom: 3rem;
  }
  p {
    margin-top: 0;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .profile-image {
    height: 128px;
    width: 128px;
  }
  .about {
    &-intro {
      margin-left: 3rem;
    }
    &-list {
      padding-left: 1.5rem;
      ul {
        margin-top: 0;
      }
    }
  }
  // .profile-image {
  //   display: block;
  //   background-position-x: center;
  //   background-position-y: 25%;
  //   background-size: cover;
  //   box-shadow: 1px 2px 2px #0a0a0a;
  //   visibility: visible;
  // }
}
