@import 'breakpoint.variable.scss';

:root {
  --main-bg-color: hsl(0, 0%, 21%);
  --primary-text-color: hsl(40, 33%, 91%);
  --accent-text-color: hsl(9, 100%, 64%);
}

html {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

body {
  margin: 0.5rem;
}

main {
  padding: 0 0.5rem;
}

a {
  color: var(--primary-text-color);
  transition: color 0.1s linear;
  &:hover {
    color: var(--accent-text-color);
  }
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

@media screen and (min-width: $breakpoint-lg) {
  body {
    max-width: $breakpoint-lg;
    margin: 1em auto;
  }
  main {
    margin-left: 2rem;
  }
}
