@import "breakpoint.variable.scss";

:root {
  --main-bg-color: hsl(0, 0%, 21%);
  --secondary-text-color: hsl(40, 33%, 65%); // hsl(0, 0%, 78%);
  --primary-text-color: hsl(40, 33%, 91%);
  --accent-text-color: hsl(9, 100%, 64%);
}

html {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  scroll-behavior: smooth;
}

body {
  margin: 0.5rem;
}

main {
  padding: 0 0.5rem;
}

a {
  color: var(--primary-text-color);
  transition: color 0.1s linear;
  &:hover {
    color: var(--accent-text-color);
  }
}

p {
  font-size: 1.3rem;
  font-weight: 400;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.flex-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 1rem;
  &-intro {
    margin-left: 1rem;
  }
}

.page-title-container {
  margin-top: 1.5rem;
  a {
    font-size: 0.78rem;
  }
}
.page-title {
  margin-top: 0.2rem;
  font-size: 1.5rem;
  color: var(--accent-text-color);
}

.cursive-heading {
  font-family: "Pacifico", cursive;
  color: var(--accent-text-color);
  font-size: 1.83rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #0a0a0a;
}

.flex {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.flex-row {
  @extend .flex;
  flex-direction: row;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.align-self-start {
  align-self: start;
}

.flex-column-sm-row {
  @extend .flex;
  flex-direction: column;
}

@media screen and (min-width: $breakpoint-sm) {
  body {
    max-width: $breakpoint-lg;
    margin: 1rem auto;
  }
  main {
    margin-left: 2rem;
  }
  .flex-column-sm-row {
    flex-direction: row;
  }
}

// @media screen and (min-width: $breakpoint-lg) {
//   body {
//     max-width: $breakpoint-lg;
//     margin: 1rem auto;
//   }
//   main {
//     margin-left: 2rem;
//   }
// }
