@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .logo-title {
  display: flex;
  align-items: center;
}


header img {
  border-radius: 10%;
  animation: spin 21s infinite linear;
  max-height: 3rem;
  max-width: 3rem;
}

header .social-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

header .social-links a:not(:first-child) {
  margin-left: 1rem;
}


.page-title {
  margin: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.page-title a {
  text-decoration: none;
}

@media screen and (min-width: 680px) {
  header .social-links {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: 3rem;
  }
}
