@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header span {
  display: flex;
}


header a {
  margin-left: 1rem;
}

header img {
  border-radius: 10%;
  animation: spin 21s infinite linear;
  max-height: 3rem;
  max-width: 3rem;
}

.page-title {
  margin: 1rem 1rem;
  font-size: 1.4rem;
  font-weight: normal;
}