@import "breakpoint.variable.scss";

.shop-talk {
  h1 {
    color: var(--heading-text-color);
  }
  &-description {
    font-size: 1rem;
    color: var(--heading-text-color);
  }
  .list {
    list-style-type: none;
    padding: 0;
  }

  .item {
    font-size: 1.2rem;
    font-weight: 500;
    &-name {
      padding-right: 0.5rem;
    }
  }

  .link {
    font-size: 1rem;
    font-weight: normal;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .shop-talk {
    .project-description {
      margin: 2rem 3rem;
      max-width: 50rem;
    }
  }
}
