@import "breakpoint.variable.scss";

.shop-talk {
  h2 {
    font-size: 1.1rem;
    color: var(--secondary-text-color);
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    li {
      margin: 0 0 0.8rem 0;
      font-size: 1.2rem;
      font-weight: 500;
      align-items: center;
      p {
        margin: 0;
      }
      // .icon {
      //   margin-right: 0.8rem;
      //   color: var(--accent-text-color);
      // }
    }
  }
  &-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-text-color);
  }
}

.lets-talk {
  .list {
    list-style-type: none;
    padding: 0;
  }

  .item {
    font-size: 1.2rem;
    font-weight: 500;
    &-name {
      padding-right: 0.5rem;
    }
  }

  .link {
    font-size: 1rem;
    font-weight: normal;
  }
}
@media screen and (min-width: $breakpoint-lg) {
  .lets-talk {
    .project-description {
      margin: 2rem 3rem;
      max-width: 50rem;
    }
  }
}
