---
import BaseLayout from "../layouts/BaseLayout.astro";
import {Content as ResumeContent} from '../components/resume.markdown';
import '../styles/about.scss';
---

<BaseLayout pageTitle="Resume">

    <ResumeContent />
    <!-- <section class="align-self-start">
      <h2 class="cursive-heading align-self-start">I build</h2>
        <ul class="about-list">
          <li>Single page and Full Stack NodeJS applications</li>
          <li>TypeScript, JavaScript, TailwindCSS, Express, NodeJS, Prisma, MongoDB, Postgres</li>
          <li>React, Redux, Angular</li>
          <li>HTML5, CSS3, Responsive Design, Accessibility, Web Standards</li>
          <li>Git, GitHub, GitLab, Bitbucket, Jira, Confluence, Slack, Zoom</li>
          <li>Agile, Scrum, Kanban, Pair Programming, Code Reviews</li>
          <li>Storybook, Jest, React Testing Library, Cypress, Webpack, Babel</li>
          <li>VSCode, Chrome DevTools, Postman, Figma, Sketch</li>
          <li>Continuous Integration, Continuous Deployment, Docker, Kubernetes</li>
        </ul>
    </section>
    <section class="flex-row align-self-start">
      <h2 class="cursive-heading">Lessons from a career change</h2>
    </section> -->

</BaseLayout>