.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

#navComponent {
    a.navbar-item {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h1 a {
        color: $primary;
        // font-size: 18px;
        &:hover{
            color: inherit;
        }
    }
}
.navbar-image-override {

    img {
        max-height: 100%;
        border-radius: 10%;
    }

}

.burger {
    display: flex;
    @include desktop {
        display: none;
    }
}
