.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}
.frozen {
    .headroom--unpinned {
        transform: translateY(0%);
    }
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

#navComponent {

    .field.is-grouped > .control:not(:last-child) {
        @include tablet {
            margin-right: 1.67rem;
        }
        margin-bottom: 0;
        margin-right: 0.75rem;
    }

    a.navbar-item {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h1 {
        padding-left: .5rem;

        a {
            color: $primary;
            font-size: 1.85rem;
            font-weight: 300;
            &:hover{
                color: inherit;
            }
            span.profession {
                display: none;
                @include desktop {
                    display: inline;
                }
            }
        }
    }

    .navbar-menu {
        background-color: transparent;
        .link {
            padding: 0;
        }
        &.is-active {

            display: flex;
            justify-content: center;
        }
        @include mobile {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar-image-override {

    img {
        max-height: 100%;
        border-radius: 10%;
        animation: spin 21s infinite linear;
        max-height: 2.5rem;
        @include desktop {
            
        }
    }

    @include mobile {
        padding-right: .5rem;
    }
}

.burger {
    display: flex;
    @include desktop {
        display: none;
    }
}



@each $name, $value in $socialLinks {
    .#{$name} {
        color: $value;
    }
}
