.post{
    a {
        text-decoration: underline;
    }
    &-content {
        h3 {
            margin: 1rem 0;
            font-size: 1.33rem;
        }
        p {
            font-family: $opensans, sans-serif;
        }
    }
}
