---

import ProfileImage from "../assets/images/ken-crocken.jpeg";
import '../styles/about.scss';
---

<section class="about flex-column-sm-row">
  <div style={{ backgroundImage: `url(${ProfileImage.src})`, height: `${ProfileImage.height/18}px`, width: `${ProfileImage.width/12}px` }} class="profile-image align-self-start">
    <!-- <div class="sr-only">Ken Crocken</div> -->
  </div>
  <div class="about-list">
    <ul>
      <li>Single page and Full Stack applications</li>
      <li>React, Remix, Next, Angular, Django</li>
      <li>TypeScript, JavaScript, NodeJS, Python, Prisma, MongoDB, Postgres</li>
      <li>TailwindCSS, Express, Storybook, Jest, React Testing Library, Cypress, Vite</lsi>
    </ul>
    <a href="/resume" title="link to resume">Resume</a>
  </div>
</section>
