---

---

<section class="description">
  <p>
    I've been making web apps in Node, TypeScript, React, Ruby, Rails, for the
    second act of my career. I firmly believe that it is easier to wrap your
    feet in leather than it is to wrap leather around the world. Recently, I was
    part of the re-organization at Dragos, Inc. It was a great challenge, and
    now it is time for the next.
  </p>
</section>
