---

import ProfileImage from "../assets/images/ken-crocken.jpeg";
import '../styles/about.scss';
---

<section class="about flex-column-sm-row">

  <div class="about-list">
    <h2 class="margin-top-0"><span role="img" class="inline-block padding-right-1" aria-label="computer">💻</span>Languages <span class="sub-heading">TypeScript, JavaScript, Python, Ruby</span></h2>
    <h2><span role="img" class="inline-block padding-right-1" aria-label="brain">🧠</span>Frameworks & Libraries</h2>
    <ul>
      <li><span class="text-bold">UI Frameworks:</span> React, Angular, React Router, Nextjs, Ruby on Rails, Django</li>
      <li><span class="text-bold">Design Systems & UI Kits:</span> Material-UI, TailwindCSS, USWDS</li>
      <li><span class="text-bold">State Management:</span> Redux Toolkit, RTKQuery</li>
      <li><span class="text-bold">Testing:</span> Vitest, Testing Library, Playwright</li>
    </ul>
    
    <!-- <ul>
      <li>TypeScript, JavaScript, Python, Ruby</li>
    </ul> -->
    <h2><span role="img" class="inline-block padding-right-1" aria-label="tools">🛠️</span>Tooling & Platforms</h2>
    <ul>
      <li><span class="text-bold">Version Control & DevOps:</span> Git, GitHub, Docker, Jenkins, AWS</li>
      <li><span class="text-bold">Build & Utilities:</span> Vite, Webpack, OpenAPI, Postman</li>
      <li><span class="text-bold">Testing & Debugging:</span> Storybook, React DevTools, ReduxDevTools</li>
      <li><span class="text-bold">Design & Collaboration:</span> Figma, Miro, Slack, JIRA, Confluence</li>
    </ul>
  </div>
</section>

    </ul>
  </div>
</section>
