---
import { Image } from "astro:assets";
import Social from "../components/Social.astro";
import GearImage from "../assets/images/gear.png";
import "../styles/header.css";
---

<header>
  <div class="logo-title">
    <Image
      src={GearImage}
      alt="Ken Crocken Front End Engineer"
      decoding="sync"
      loading="eager"
      height={GearImage.height}
      width={GearImage.width}
      transition:persist
    />
    <h1 class="page-title">
      <a href="/">
        <span>Ken Crocken</span>
        <span>|</span>
        <span>Front End Engineer</span>
      </a>
    </h1>
  </div>
  <div class="social-links" transition:persist>
    <Social platform="linkedin" username="kenneth-crocken" />
    <Social platform="github" username="kencrocken" />
  </div>
</header>
