---
import { Image } from "astro:assets";
import Social from "../components/Social.astro";
import GearImage from "../assets/images/gear.png";
import ProfileImage from "../assets/images/ken-crocken.jpeg";
import "../styles/header.scss";
---
<header transition:persist>
  <div class="logo-title">
    <Image
      src={GearImage}
      alt="Ken Crocken Front End Engineer"
      decoding="sync"
      loading="eager"
      height={GearImage.height}
      width={GearImage.width}
    />
    <h1 class="page-title">
      <a href="/">
        <span>Ken Crocken</span>
        <span>|</span>
        <span>Front End Engineer</span>
      </a>
    </h1>
  </div>
    <div style={{ backgroundImage: `url(/images/ken-crocken.jpeg)`, height: `${ProfileImage.height/36}px`, width: `${ProfileImage.width/24}px` }} class="profile-image" transition:persist>
    <!-- <div class="sr-only">Ken Crocken</div> -->
  </div>
  <div class="social-links" transition:persist>
    <Social platform="linkedin" username="kenneth-crocken" />
    <Social platform="github" username="kencrocken" />
  </div>
</header>
