---
import "../styles/shoptalk.css";
---

<section class="shop-talk">
  <h2 class="shop-talk__title">Let's talk shop …</h2>
  <ul class="shop-talk__list">
    <li class="shop-talk__item">
      Colorful Loader

      <div class="shop-talk__description">
        <p>
          ColorfulLoader is a visually appealing and customizable React loading
          component designed for web applications. This project provides an
          easy-to-integrate, lightweight solution for enhancing user experience
          during data fetching or processing times.
        </p>
        <a
          class="shop-talk__link"
          href="https://github.com/kencrocken/ColorfulLoader">repo</a
        >
        <a
          class="shop-talk__link"
          href="https://kencrocken.github.io/ColorfulLoader">project site</a
        >
      </div>
    </li>
    <li class="shop-talk__item">
      Lunar Phase

      <div class="shop-talk__description">
        <figure class="quote">
          <blockquote>
            &hellip; the moon is still the moon in all its phases
          </blockquote>
          <figcaption>
            &mdash; Isra Al-thibeh, <cite>On Becoming</cite>
          </figcaption>
        </figure>
        <p>
          Lunar Phase is a small demo app in React that displays the current
          phase of the moon by fetching data from the Naval Observatory API.
        </p>
        <a
          class="shop-talk__link"
          href="https://github.com/kencrocken/lunar_phase">repo</a
        >
        <a
          class="shop-talk__link"
          href="https://kencrocken.github.io/lunar_phase">project site</a
        >
      </div>
    </li>
  </ul>
</section>
