---
import "../styles/shoptalk.scss";
---

<section class="shop-talk">
  <h2 class="title">Let's talk shop …</h2>
  <ul class="list">
    <li class="item">
      Colorful Loader

      <div class="project-description">
        <p>
          ColorfulLoader is a visually appealing and customizable React loading
          component designed for web applications. This project provides an
          easy-to-integrate, lightweight solution for enhancing user experience
          during data fetching or processing times.
        </p>
        <a class="link" href="https://github.com/kencrocken/colorful-loader"
          >repo</a
        >
        <a class="link" href="https://kencrocken.github.io/colorful-loader"
          >project site</a
        >
      </div>
    </li>
    <li class="item">
      Lunar Phase

      <div class="project-description">
        <figure class="quote">
          <blockquote>
            Darling, the moon is still the moon in all its phases.
          </blockquote>
          <figcaption>
            &mdash; Isra Al-Thibeh, <cite>On Becoming</cite>
          </figcaption>
        </figure>
        <p>
          Lunar Phase is a small demo app in React that displays the current
          phase of the moon by fetching data from the Naval Observatory API.
        </p>
        <a class="link" href="https://github.com/kencrocken/lunar_phase">repo</a
        >
        <a class="link" href="https://kencrocken.github.io/lunar_phase"
          >project site</a
        >
      </div>
    </li>
  </ul>
</section>
