---
const { platform, username } = Astro.props;
---

<a
  href={`https://${platform}.com/${username === "kencrocken" ? username : "in/" + username}`}
  title=`${platform} link`
>
  <i class=`fab fa-${platform}`></i>
</a>
