---
layout: blog
---
<div class="container" id="post">

  <div class="post-header">
    <a class="post-meta" href="/blog">Return to Posts</a>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </div>

  {% if page.description %}
    <section class="description">
        <h2>{{ page.description }}</h2>
    </section>
  {% endif %}

  <article class="post-content">
    {{ page.content }}
  </article>

</div>
