---
import { ViewTransitions } from "astro:transitions";
import Favicon from "../assets/images/favicon.png";
import Header from "../components/Header.astro";
import "../styles/global.scss";

type Props = {
  pageTitle?: string;
  id?: string;
  children: any;
};
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href={Favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>
      {
        pageTitle
          ? `${pageTitle} | Ken Crocken`
          : "Ken Crocken | Front End Engineer"
      }
    </title>
    <script
      src="https://kit.fontawesome.com/951c028c79.js"
      crossorigin="anonymous"></script>
    <ViewTransitions />
  </head>
  <body>
    <Header transition:persist />
    <main transition:animate="fade">
      {pageTitle ? (
        <div class="page-title-container">
          <a href="/" class="home-link">
            Home
          </a>
          <h2 class="page-title">{pageTitle}</h2>
        </div>
      ) : null}
      <slot />
    </main>
  </body>
</html>
