---
import BaseLayout from "./BaseLayout.astro";
import "../styles/shoptalk.scss";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <section class="shop-talk">
    <p class="shop-talk-description">{frontmatter.description}</p>
    <a class="link" href={frontmatter.repo}>repo</a
      >
      <a class="link" href={frontmatter.projectSite}
        >project site</a
      >
    <slot />
  </section>
</BaseLayout>